.App {
  background-color: black;
  padding: 100px;
}

.meme__container {
  position: relative;
  text-align: center;
  width: 800px;
  margin: auto;
}

.meme__image {
  width: 100%;
}

.meme__text {
  font-family: Impact, Charcoal, sans-serif;
  color: white;
  position: absolute;
  bottom: 20px;
  margin: auto 0;
  left: 0;
  right: 0;
  -webkit-text-stroke: 3px black;
}