.App {
  background-color: black;
  padding: 50px;
}

.meme__container {
  position: relative;
  text-align: center;
  width: 800px;
  margin: auto;
}

.meme__image {
  width: 100%;
}

.meme__text {
  font-family: Impact, Charcoal, sans-serif;
  color: white;
  position: absolute;
  bottom: 20px;
  margin: auto 0;
  left: 0;
  right: 0;
  -webkit-text-stroke: 2px black;
}

.inputs {
  margin: 10px auto;
  width: 680px;
}

.inputs label {
  color: white;
  display: block;
  padding: 10px;
}

.inputs span {
  width: 140px;
  display: inline-block;
  font-size: 18px;
}

.inputs input[type=text] {
  width: 500px;
  font-size: 18px;
}

.inputs input[type=radio] {
  margin: 0 10px;
}

.inputs button {
  font-size: 22px;
  padding: 8px 30px;
  border-radius: 20px;
  margin-left: 250px;
  margin-top: 20px;
}