.App {
  text-align: center;
}

.game-container {
  display: grid;
  width: 300px;
  height: 300px;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.game-square {
  background-color: blue;
  align-self: stretch;
  color: white;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}