.App {
  text-align: center;
}

.game-container {
  display: grid;
  width: 600px;
  height: 600px;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.game-square {
  background-color: blue;
  align-self: stretch;
}